@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 980px) {
    .container {
        max-width: 1340px;
    }
    .nav-link {
        margin-right: 3rem;
    }
}

img.fp-news {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;
}

img.fp-news:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.card {
    min-height: 470px;
}


/* unvisited link */

a:link {
    color: #1e1e1e;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
}

a.nav-link:link {
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}

a.dropdown-item {
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}


/* visited link */

a:visited {
    color: #1e1e1e;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
}


/* mouse over link */

a:hover {
    color: #9b9b9b;
    text-decoration: underline;
}


/* selected link */

a:active {
    color: #9b9b9b;
}

.footer-bk {
    background-color: #e9ecef;
}

@media (min-width: 700px) {}

@media (max-width: 699px) {
    .nav-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }
    .dropdown-item {
        text-align: center;
    }
    .hidden-mobile {
        display: none;
    }
}

.btn {
    border-radius: 0;
}

.nav-item-border {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Roboto', serif;
    line-height: 170%;
    font: 1.1em;
}